## don't track files with patient information
observation_to_hpo.txt
observation_to_hpo_success.txt
patientPrednisonCount.txt
data/HPO-AsthmaSeverity.xls
data/Hush+_data_matrix.csv
data/patientOnPrednison.txt
data/ICD_stats summarize.xlsx
data/allDiagnosisCodesForAsthmaPatients.tsv
data/loincAnnotationstats8-2-2018.tsv
src/main/r_script/*.html
src/main/r_script/*.pdf
src/main/r_script/Hush+_data_matrix.csv
data/patientAbnormalTermMapFreq-inferred.csv
data/patientTermMapFreq.csv
data/logistic_regression_including_inferred_terms.xlsx
data/Hush+_data_matrix_v1.0.csv
data/images/2018_zhang_fig1_proof1.png
data/loincAnnotationstats_v1.0.tsv
data/patientAbnormalTermMapFreq-inferred_v1.0.csv
.Rhistory

data/.DS_Store
.idea/
.idea/workspace.xml
.idea/task.xml
.idea/dictionary/*

logs/*


*.iml
.DS_Store

logs/*

target/*
